<!DOCTYPE html>
<html ng-app='app'>
<head>
   <title> PAGO DESUR  </title>
     <script src="./angular/angular.min.js" ></script>
     <script src="./jquery/jquery-1.12.4.min.js" ></script>
     <script  src="angular/app.js"></script>
     <link rel="stylesheet" href="styles/login.css">
         <!-- Angular Material style sheet -->
      <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
     <!-- Angular Material requires Angular.js Libraries -->
       <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
       <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
       <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>

       <!-- Angular Material Library -->
       <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>

</head>
  <body>
<div class="panelCentral">
<form name="login_Form" action="index.html" method="post" ng-submit="loginForm()"
      layout="column" layout-fill layout-align="center center">
<md-whiteframe class="md-whiteframe-24dp" style="background:white;" layout="column"
layout-fill  layout-align="center center">
  <md-toolbar class="BarLogin" layout="row"  md-scroll-shrink ng-if="true">
    <div class="md-toolbar-tools">
      <h3>
        <span>LOGIN</span>
      </h3>
    </div>
    <div  ng-controller="menuBto as btoMenu"  layout="row" layout-align="center center">
         <md-fab-speed-dial  md-open="btoMenu.isOpen" md-direction="{{btoMenu.selectedDirection}}"
                             ng-class="btoMenu.selectedMode">
           <md-fab-trigger>
             <md-button aria-label="menu"  class="md-fab md-mini"  md-colors="#FF4081">
               <md-icon md-svg-src="img/bars.svg"></md-icon>
             </md-button>
           </md-fab-trigger>
           <md-fab-actions>
             <md-button aria-label="Twitter" class="md-fab md-raised md-mini">
               <md-icon md-svg-src="img/menu.svg" aria-label="Twitter"></md-icon>
             </md-button>
             <md-button aria-label="Facebook" class="md-fab md-raised md-mini">
               <md-icon md-svg-src="img/menu.svg" aria-label="Facebook"></md-icon>
             </md-button>
             <md-button aria-label="Google Hangout" class="md-fab md-raised md-mini">
               <md-icon md-svg-src="img/menu.svg" aria-label="Google Hangout"></md-icon>
             </md-button>
           </md-fab-actions>
         </md-fab-speed-dial>
       </div>
  </md-toolbar>

<md-content  layout="column"  layout-padding layout-margin layout-fill style="min-height: 65%; height:65%;">
    <md-input-container layout="row" style="" class="inputsLogin">
          <!-- Use floating placeholder  instead of label-->
          <md-icon md-svg-src="img/email.svg" class="s24" name="mail" aria-label="Email"></md-icon>
          <input type="email" placeholder="Correo" ng-required="true"  ng-model="mail">
    </md-input-container>
    <div ng-show="login_Form.mail.$error" layout="row" style="">
      <label>Escribe un correo valido</label>
    </div>
    <md-input-container layout="row" class="inputsLogin">
      <md-icon md-svg-src="img/locked.svg" class="email"></md-icon>
          <input  type="password" placeholder="Contrasena"  name="pass" ng-required="true" ng-model="password">
    </md-input-container>
</md-content>
<md-content layout="column" ng-controller="dialogo">
    <md-button class="md-raised md-primary" ng-disabled="!mail" ng-click="showAlert($event)" name="button">
      <span class="md-body-2">
      ACCEDER</span>
     </md-button>
 </md-content>
</md-whiteframe>
</form>
</div>
  </body>
</html>
